footer {
  display: flex;
  grid-column: 1/-1;
  flex-direction: column-reverse;
  padding: 15px 0;
}

.footer__info {
  display: flex;
  margin-right: 15px;
  padding: 10px 0px;

  & div:first-child {
    margin-right: 15px;
  }
}

// Tablet
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
  }
}
