footer
  each item in data.footer
    .footer__info
      div(
      class=`b2b-${item.icon}`
      )
      if (item.type === 'text')
        div= item.text
      else 
        a(
          href=item.link
          title=item.text
        )= item.text
